input {
  border: 1px solid #dfdfdf;
  padding: 8px;
  box-sizing: border-box;
  height: 45px;
  border-radius: 2px;
}

label {
  font-size: 14px !important;
  font-weight: 200;
}

.select-wrapper {
  height: 45px !important;
}
