.input-field {
  z-index: 9999 !important;
}

select {
}

.multiple-select-dropdown {
  max-height: 100px !important;
  overflow: scroll !important;
}

.file-upload-btn {
  line-height: 1.42857143 !important;
}
